@using MVCCoreApp.Models;

@model Customer

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Strong View</title>
</head>
<body>

    
    @{
        
        <p>Id :@Model.CustomerID1 </p>
        <p>Name :@Model.Name </p>
        <p>Name :@Model.Address </p>
    }


 

</body>
</html>
